html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: default;
  --color-yellow : rgb(255, 255, 0);
  --color-green : rgb(0, 204, 0);
  --main-font : 'Noto Sans KR', sans-serif;
  --font-big : 400%;
  --font-semi-big : 300%;
  --font-semi-medium : 200%;
  --font-medium : 20px;
  --font-semi-small : 18px;
  --font-small : 100%;
  --into-bg-color : white;
  --intro-contents-color : black;
  --contents-color-green : #01956e;
  --contents-color-blueish : #99b5fb;
  --contents-color-yellow : #ffed3b;
  --contents-color-carrot : #eda488;
  --contents-color-blue : #0047f5;
}
body::selection{
  background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONTS */
@font-face {
  font-family: "Nanum-light";
  src: url("src/fonts/woff/NanumSquareNeoTTF-aLt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "Nanum-regular";
    src: url("src/fonts/woff/NanumSquareNeoTTF-bRg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: "Nanum-bold";
  src: url("src/fonts/woff/NanumSquareNeoTTF-cBd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

  /* font-family: "pretendard", sans-serif;
font-weight: 400;
font-style: normal; */

  /* HEADER */
  #header-wrapper{
    /* display: none; */
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--into-bg-color);
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    border-bottom: solid var(--intro-contents-color) 1px;
    border-top: solid var(--intro-contents-color) 1px;
    /* height: 3.5%; */
  }

  @-webkit-keyframes slideThrough {
    0% {
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-110%);
    }
  }
  #header-left-wrapper{
    /* margin-left: 10px; */
    overflow-x: hidden;
    display: flex;
    align-items: center;
    border-left: solid black 1px;
    border-right: solid black 1px;
    height: 100%;
    /* width: 50%; */
  }

  #header-btn-wrapper{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-right: solid black 1px;
    /* height: 100%; */
  }

  .header-btn{
    margin: 0px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  #red{
    border: solid 1px black;
    background-color: rgb(255, 0, 230);
  }

  #yellow{
    border: solid 1px black;
    background-color: #f1f1f1;
  }

  #green{
    border: solid 1px black;
    background-color: rgb(135, 246, 49);
  }

  #header-left-text{
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
    border-left: solid black 1px;
    border-right: solid black 1px;
  }

  #header-title{
    width: 100%;
    /* animation: slideThrough 16s infinite linear; */
    font-family: var(--main-font);
    font-weight: 400;
    font-size: var(--font-medium);
    color: var(--intro-contents-color);
    padding: 10px 30px;
    overflow-x: hidden;
  }
  #header-up-down-wrapper{
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 100;
  }

  .header-updown-content{
    width: 30px;
    height: 30px;
    object-fit: cover;
    mix-blend-mode: difference;
  }

  #header-up-btn, #header-down-btn{
    cursor: grab;
    background-color: white;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    border: solid 1.5px black;
  }

  #header-up-btn:hover, #header-down-btn:hover{
    background-color: black;
  }
 
  #page-desc-wrapper{
    display: none;
    position: absolute;
    bottom: 5%;
    right: 100%;
    /* width: 100%; */
    border: solid 1px black;
    background-color: white;
  }

  #page-desc{
    font-family: var(--main-font);
    font-size: var(--font-semi-small);
    font-weight: 400;
  }

  /* CHATBOT SYSTEM */

  #intro-section{
    /* width: 100%; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* padding: 20px; */
    width: 100vw;
    height: 100vh;
    background-color: var(--into-bg-color);
    /* z-index: 100; */
    /* transition: all 0.5s cubic-bezier(.75,0,.3,1); */
    /* display: flex;
    align-items: center;
    justify-content: center; */

  }

  #intro-wrapper{
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    display: flex;
  }
  #chatbot-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px black;
  }

  #chatbot-dialogue-wrapper{
    padding-top: 100px;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    /* padding: 40px 30px; */
    position: relative;
  }

  .folder-wrapper{
    position: absolute;
    cursor: grab;
    padding: 10px 5px;
    background-color: white;
  }
  .folder{
    width: 150px;
    height: auto;
    pointer-events: none;
  }

  .folder-title{
    font-family: var(--main-font);
    font-weight: 300;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    color: white;
    mix-blend-mode: difference;
    padding: 5px 10px;
  }

  .folder-list-wrapper{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: solid 1px black;
    /* padding-top: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    /* clip-path: ellipse(); */
  }

  .folder-list-item{
    font-family: var(--main-font);
    font-weight: 300;
    /* padding: 5px; */
    border-bottom: solid 1px black;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    cursor: grab;
  }

  .folder-list-item:hover{
    background-color: black;
    color: white;
  }

  .popup-wrapper{
    position: absolute;
    opacity: 0;
    /* width: 40%; */
    border: solid 1px var(--intro-contents-color);
    background-color: white;
    cursor: move;
    /* border-radius: 10px; */
    /* overflow-y: hidden; */
  }

  .popup-hidden{
    height: 42px !important;
  }
  .popup-wrapper:hover{
    
  }
  #popup1{
    /* background-color: var(--contents-color-green); */
    top: 15%;
    left: 5%;
  }

  #popup2{
    /* background-color: var(--contents-color-yellow); */
    top: 60%;
    right: 20%;
    width: 70%;
    /* height: 40%; */
  }

  #popup3{
    /* background-color: var(--contents-color-blueish); */
    top: 30%;
    right: 10%;
    width: 40%;
    /* height: 50%; */
  }

  #popup4{
    /* background-color: white; */
    bottom: 5%;
    right: 7%;
    width: 30%;
    /* height: 50%; */
  }
  .popup-delete-wrapper{
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: solid 1px var(--intro-contents-color);
    
  }
  .popup-delete-box, .popup-mini-box{
    /* padding: 5px; */
    display: inline-block;
    height: 30px;
    border-right: solid 1px var(--intro-contents-color);
    /* border-top-left-radius: 8px; */
    background-color: white;
  }

  .popup-delete-box:hover{
    /* background-color: crimson; */
    background-color: rgb(255, 0, 230);
  }

  .popup-mini-box{
    width: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-delete{
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
  }

  .popup-delete:hover{
    cursor: grab;
  }

  .popup-mini{
    margin: 0px 2.5px;
    width: 25px;
    height: 2px;
    border-bottom: solid 2px black;
    /* background-color: black; */
    display: inline-block;
  }

  .popup-mini-box:hover{
    cursor: grab;
  }

  .popup-header-wrapper{
    background-color: white;
    /* background: linear-gradient( 0deg, rgb(220 220 220) 40%, rgba(250,250,250,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border-top-right-radius: 8px; */
  }

  .popup-header{
    font-family: var(--main-font);
    font-size: var(--font-small);
    font-weight: 400;
  }

  .popup-header::selection{
    background-color: white;
    color: black;
  }

  .popup-text-wrapper{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s cubic-bezier(.75,0,.3,1);
    background-color: white;
  }

  .popup-wrapper:hover .popup-text-wrapper{
    /* background-color: rgb(255, 255, 0); */
  }
  .popup-wrapper:hover .popup-header-wrapper{
    /* background-color: rgb(230, 230, 230); */
  }
  .popup-wrapper:hover .popup-delete-box{
    background-color: rgb(255, 0, 230);
  }

  .popup-show{
    height: 100% !important;
  }

  .popup-img{
    width: 200px;
    height: auto;
  }

  .greeting-text{
    /* position: absolute; */
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-semi-small);
    line-height: 170%;
    color: black;
    word-break: keep-all;
    letter-spacing: -2px;
    word-spacing: 5px;
    text-align: start;
    
  }

  .greeting-text::selection{
    background-color: white;
    color: black;
  }

  #intro-logo-img{
    position: fixed;
    top: -1%;
    left: 1%;
    width: 100px;
    height: 100px;
  }




  #chatbot-cursor{
    font-family: var(--main-font);
    font-size: 100%;
    font-weight: 100;
    opacity: 0;
    display: inline-block;
    color: var(--intro-contents-color);
  }

  .cursor-on{
    opacity: 1 !important;
  }


  /* RESUME AND INTRODUCTION */

  #resume-and-introduction-section{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    /* z-index: 90;
    transition: all 0.5s cubic-bezier(.75,0,.3,1); */
    /* display: flex;
    justify-content: center; */
  }

  #sections-wrapper{
    width: 200vw;
    height: 100vh;
    display: flex;
    position: relative;
    transition: all 0.3s cubic-bezier(0,.77,1,.99);
    /* border-top: solid 2.5px black; */
    /* border-top: solid 2px black; */
  /* border-bottom: solid 2px black; */
  }

  .section-resume{
    transform: translateX(0%) !important;
  }
  .section-initial{
    transform: translateX(-25%) !important;
  }
  .section-intro{
    transform: translateX(-50%) !important;
  }

  #marker{
    /* display: none; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7%;
    border-bottom: solid 1.5px var(--intro-contents-color);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0,.77,1,.99);
    z-index: 100;
  }



  /* RESUME */

#resume-section{
  background-color: var(--into-bg-color);
  height: 100vh;
  width: 100vw;
  /* border-right: solid 1px var(--intro-contents-color); */
  
  display: flex;
  position: relative;
  /* justify-content: center;
  align-items: center; */
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}
#resume-header-section:hover{
  background-color: var(--contents-color-blue);
  cursor: grab;
}
#resume-header-section{
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
  /* border-left: solid 2px var(--intro-contents-color); */
  /* transition: all 0.3s cubic-bezier(0,.77,1,.99); */
}

.header-title-box{
  position: relative;
  display: inline-block;
}

@-webkit-keyframes upAndDown{
  0%{
    /* clip-path: circle(0px at 50% 50%); */
    transform: translate(50%, -60%);
  }
  100%{
    /* clip-path: circle(700px at 50% 50%); */
    transform: translate(50%, -40%);
  }
}

.header-notice-btn{
  animation: upAndDown 0.2s ease-in-out infinite alternate-reverse;
  position: absolute;
  right: -5%;
  top: -15%;
  font-family: var(--main-font);
  color: black;
  background-color: rgb(255, 255, 0);
  border: solid 1px black;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: var(--font-medium);
  transform: translate(50%, -50%);
  font-weight: 300;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}
#resume-contents-section{
  width: 50vw;
  height: 100%;
  border-right: solid 1px var(--intro-contents-color);
}


.box{
  position: absolute;
  color: black;
  height: 250px;
  width: 250px;
  border: solid 1px black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: grabbing;
  /* position: relative; */
  /* transition: all 0.3s cubic-bezier(0,.77,1,.99); */
}


#box-name{
  height: 250px !important;
  width: 250px !important;
  /* background-color: var(--contents-color-green); */
}

#box-birthday{
  /* background-color: var(--contents-color-yellow); */
}

#box-school{
  height: 230px !important;
  width: 230px !important;
  /* background-color: var(--contents-color-blueish) ; */
  border-radius: 0% !important;
}
#box-contact{
  height: 230px !important;
  width: 230px !important;
  /* background-color: var(--contents-color-yellow); */
  border-radius: 0% !important;

}
#box-area{
  height: 250px !important;
  width: 250px !important;
  /* background-color: var(--contents-color-green); */
}
#ground {
  display: none;
  position: absolute;
  background: #666;
  top: 140px;
  height: 120px;
  width: 400px;
}


#resume-arrow-btn{
  width: 30px;
  height: 30px;
  object-fit: cover;
  mix-blend-mode: difference;
  pointer-events: none;
}

#resume-arrow-wrapper{
  /* position: absolute;
  top: 0%;
  right: 0%; */
  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border: solid 1.5px black;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
  opacity: 0;
  z-index: 10;
  cursor: grab;
}
#resume-arrow-wrapper:hover{
  background-color: black;
}

#contents-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-single-contents-wrapper{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* border-top: solid 1px black;
  border-bottom: solid 1px black; */
  margin: 20px 0px;
}

.resume-single-contents-wrapper:hover{
  background-color: black;
  color: white;

}

.resume-category{
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 200%;
  text-align: center;
}



.resume-category{
  /* border: solid 2px black; */
  /* border-radius: 50%; */
  padding: 8px 15px;
}

#resume-desc-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  transform: translate(-50%, -50%);
}
#resume-description{
  font-family: var(--main-font);
  padding-top: 50px;
  font-weight: 300;
  font-size: 120%;
  text-align: center;
  line-height: 150%;
}
#resume-img{
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

/* INTRODUCTION SECTION */
#introduction-section{
  background-color: var(--into-bg-color);
  width: 100vw;
  height: 100vh;
  border-left: solid 1px var(--intro-contents-color);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}
#introduction-header-section:hover{
  background-color: var(--contents-color-yellow);
  cursor: grab;
}

#introduction-header-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  position: relative;
  /* transition: all 0.3s cubic-bezier(0,.77,1,.99); */
  border-right: solid 1px black;
  background-color: none;
  z-index: 1;
}

@-webkit-keyframes expandAnimation{
  0%{
    clip-path: circle(0px at 50% 50%);
    /* clip-path: polygon(50% 100%, 0% 100%, 100% 100%); */
  }
  100%{
    clip-path: circle(700px at 50% 50%);
    /* clip-path: polygon(50% -100%, 0% 100%, 100% 100%); */
  }
}

@-webkit-keyframes growAnimation{
  0%{
    /* clip-path: circle(0px at 50% 50%); */
    clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 100% 100%);
  }
  100%{
    /* clip-path: circle(700px at 50% 50%); */
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
  }
}

@-webkit-keyframes createAnimation{
  0%{
    /* clip-path: circle(0px at 50% 50%); */
    /* clip-path: polygon(19% 27%, 6% 56%, 72% 93%, 70% 11%); */
    clip-path: circle(0% at 46% 100%);

    /* transform: rotate(0deg); */
  }
  25%{
    /* clip-path: polygon(56% 21%, 7% 37%, 34% 90%, 93% 28%); */
    clip-path: circle(11.8% at 6% 43%);

    /* transform: rotate(90deg); */
  }
  50%{
    /* clip-path: polygon(16% 5%, 40% 28%, 61% 70%, 60% 98%); */
    clip-path: circle(50.8% at 100% 15%);

    /* transform: rotate(180deg); */
  }
  100%{
    /* clip-path: circle(700px at 50% 50%); */
    /* clip-path: polygon(70% 0%, 20% 0%, 35% 60%, 73% 70%); */
    clip-path: circle(114.3% at 78% 83%);


    /* transform: rotate(360deg); */

  }
}

#introduction-header-bg{
  display: none;
  animation: none;
  opacity: 0.3;
  width: 50vw;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  /* clip-path: circle(100px at 50% 50%); */
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
  z-index: 0;
}

#introduction-contents-section{
  width: 50vw;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* #introduction-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
} */


#resume-title, #introduction-title{
  width: 100%;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: var(--font-semi-big);
  line-height: 130%;
  color: black;
  word-break: keep-all;
  z-index: 1;
  /* mix-blend-mode: difference; */
}

/* INTRO CONTENTS */

.introduction-single-wrapper{
  width: 100%;
  /* height: 80px; */
  overflow-y: hidden;
  transition: height 0.5s cubic-bezier(.75,0,.3,1);
  border-bottom: solid 1px black;
}

.introduction-title-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 5px 10px; */
  height: 50px;
  cursor: grab;
  /* border-bottom: solid 1px black; */
}

.introduction-title-wrapper:hover .intro-title-box{
  background-color: black;
}

#intro-title-background:hover .intro-title-box{
  
  background-color: yellow;
}
#intro-title-grow:hover .intro-title-box{
  
  background-color: rgb(0, 208, 255);
}
#intro-title-expand:hover .intro-title-box{
  background-color: rgb(255, 0, 230);
}
#intro-title-back:hover .intro-title-box{
  background-color: rgb(135, 246, 49);
}

.intro-title-box{
  width: 15px;
  height: 15px;
  border: solid 1px black;
  margin: 0px 10px;
}

.introduction-contents-title{
  font-family: var(--main-font);
  font-size: var(--font-medium);
  font-weight: 300;
  /* padding-left: 20px; */
  padding-right: 20px;
  color: black;
  /* mix-blend-mode: difference; */
  /* text-align: center; */
}

.introduction-contents-subtitle{
  font-family: var(--main-font);
  font-size: var(--font-medium);
  font-weight: 500;
  padding-right: 20px;
}

.introduction-contents-title-box-selected{
  background-color: black;
}

.introduction-contents-title-selected{
  text-decoration: underline 1px black;
}

.introduction-contents-title:hover{
  /* text-decoration: underline 2px black; */
}

.introduction-detail-btn-wrapper{
  display: none;
  transition: all 0.5s cubic-bezier(.75,0,.3,1);
  /* mix-blend-mode: difference; */
}
.introduction-detail-btn{
  width: 10px;
  height: 10px;
  object-fit: cover;
  /* mix-blend-mode: difference; */
}

.introduction-text-wrapper{
  display: none;
  transition: all 0.5s cubic-bezier(.75,0,.3,1);
  height: 0%;

}
.introduction-text-show{
  display: block;
  padding:10px 20px;
  height: 100%;
}

.introduction-text{
  font-family: var(--main-font);
  font-size: var(--font-semi-small);
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 100px;
  word-break: keep-all;
  height: 100%;
  overflow-y: scroll;
}

.introduction-text b{
  font-family: var(--main-font);
  font-size: var(--font-semi-small);
  font-weight: 400;
  line-height: 25px;
  word-break: keep-all;
}

.introduction-text::selection{
  background-color: yellow;
  color: black;
}

.introduction-text b::selection{
  background-color: yellow;
  color: black;
}

/* PORTFOLIO */

#portfolio-section{
  background-color: var(--port-bg-color);
  height: 100vh;
  width: 100vw;
  transition: all 0.3s cubic-bezier(.75,0,.3,1);
  /* margin-top: 5px; */
  --port-bg-color : rgb(255, 255, 255);
  --port-contents-color : black;
  z-index: 10;
}

#portfolio-contents-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  /* border: solid 2px black; */

  /* background-color: #666; */
}

#port-desc-wrapper{
  width: 70%;
  /* background-color: aqua; */
  border-bottom: solid 1px var(--port-contents-color);
}

#drop-sentence-wrapper{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* background-color: white; */
  mix-blend-mode: difference;
}

#drop-sentence{
  font-family: var(--main-font);
  font-size: var(--font-medium);
  color: white;
  /* mix-blend-mode: difference; */
  font-weight: 300;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}

.port-header-wrapper{
  /* background-color: var(--port-bg-color); */
  background-color: white;
  padding: 15px 0px;
  border-bottom: solid 1px var(--port-contents-color);
  /* border-left: solid 1px black; */
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
}
#port-header-box{
  width: 70%;
  overflow-x: hidden;
  margin-left: 15px;
  display: flex;
  align-items: center;

}
#port-header{
  animation: slideThrough 18s infinite linear;
  font-family: var(--main-font);
  font-size: 100%;
  color: var(--port-contents-color);
  background-color: white;
}

#project-header-title{
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
  font-size: var(--font-small);
  font-weight: 400;
  color: var(--port-contents-color);
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#port-header-filter, #port-header-year-filter{
  width: 100%;
  padding: 2px 5px;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-filter, .project-year-filter{
  height: 100%;
  font-family: var(--main-font);
  font-size: var(--font-small);
  font-weight: 400;
  color: black;
  padding: 8px 8px;
  opacity: 0.5;
  cursor: grab;
  border: solid 1px black;
  /* border-radius: 10px; */
}

#project-all:hover, #project-year-all:hover{
  background-color: black;
  color: white;
}

#project-music{
  background-color: yellow;
}

#project-web{
  background-color: rgb(0, 208, 255);
}

#project-mix{
  background-color: rgb(255, 0, 230);
}

#project-graphic{
  background-color: rgb(135, 246, 49);
}

.project-year-filter:hover{
  background-color: black;
  color: white;
  opacity: 1;
  /* text-decoration: underline 1px var(--port-contents-color); */
}

.project-filter:hover{
  opacity: 1;
  /* text-decoration: underline 1px var(--port-contents-color); */
}

.filter-selected{
  opacity: 1;
  /* text-decoration: underline 1px var(--port-contents-color); */
}

#project-desc-wrapper{
  width: 100%;
  height: 100%;
  /* background-color: var(--port-bg-color); */
  position: relative;
  /* border-left: solid 1px black; */
}
#port-project-wrapper{
  width: 30%;
  background-color: white;
  /* background-color: var(--port-bg-color); */
  /* border-top: solid 1px black; */
  border-right: solid 1px var(--port-contents-color);
  position: relative;
}


/* PROJECT VIEW */

::-webkit-scrollbar-thumb{
  display: none;
}

::-webkit-scrollbar{
  display: none;
}
#projects-sliding-wrapper{
  /* padding: 50px 10px; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  /* background-color: var(--port-bg-color); */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.single-project-wrapper{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  /* background-color: var(--port-bg-color); */
  /* border-top: solid 0.5px black; */
  border-bottom: solid 1px var(--port-contents-color);
  border-left: none;
  border-right: none;
  color: var(--port-contents-color);
  overflow-y: hidden;
  transition: filter, background-color, opacity, height 0.3s cubic-bezier(0,.77,1,.99);
  cursor: grab;
}

.single-project-wrapper:hover{
  /* background-color: var(--color-yellow); */
}

.project-hide{
  height: 0% !important;
  border: none !important;
}
.single-project-wrapper:hover .single-project{
  font-size: 22px;
  color: var(--port-contents-color);
}

.single-project-wrapper:hover .project-detail-btn{
  width: 25px;
  height: 25px;
  
}

.ghost{
  width: 100%;
  height: 10%;
  /* border-top: solid 0.5px black; */
}

.single-project{
  font-family: var(--main-font);
  font-size: var(--font-medium);
  /* font-style: italic; */
  font-weight: 300;
  color: black;
  /* padding: 20px 40px; */
  pointer-events: none;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}

.project-detail-btn{
  width: 20px;
  height: 20px;
  margin-right: 15px;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
  transform-origin: center;
  mix-blend-mode: difference;
}

.project-title-tag-wrapper{
  display: flex;
  align-items: center;
}

.project-tag-wrapper{
  display: flex;
}
.project-tag{
  margin: 2px;
  width: 7px;
  height: 7px;
  border: solid 1px black;
  background-color: #01956e;
}

/* PROJECT DESCRIPTION */

#project-desc-contents-wrapper{
  width: 96%;
  height: 100%;
  padding: 20px 20px;
  opacity: 0;
  background-color: none;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
  position: relative;
  /* overflow-y: scroll; */
}
#project-desc-media-wrapper{
  height: 70%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: start;
}

#project-desc-info-wrapper{
  position: absolute;
  top: 75%;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 15px 30px;
  z-index: 10;
  transition: all 0.3s cubic-bezier(.75,0,.3,1);
  border-top: solid 1px var(--port-contents-color);
  background-color: white;
}

#ghost-div{
  height: 400px;
  width: 100%;
}

.project-desc-show{
  position: absolute !important;
  top: 40% !important;
  left: 0% !important;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

#project-desc-detail-btn-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  mix-blend-mode: difference;
  /* border: solid 2px black; */
}

#project-desc-detail-btn{
  width: 25px;
  height: 25px;
  transform: rotate(0deg);
  transition: all 0.4s cubic-bezier(0,.77,1,.99);
  /* border: solid 2px white; */
  mix-blend-mode: difference;
}

#project-desc-detail-btn:hover{
  /* width: 30px;
  height: 30px; */
  cursor: grab;
}

.detailBtnRotate{
  transform: rotate(45deg) !important;
}


.project-video{
  padding: 5px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}

.project-img{
  padding: 5px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0,.77,1,.99);
}

#project-desc-title{
  font-family: var(--main-font);
  font-size: var(--font-semi-medium);
  color: var(--port-contents-color);
  padding: 15px;
}

#project-index{
  padding: 15px;
  font-family: var(--main-font);
  font-size: var(--font-medium);
  font-style: italic;
  color: var(--port-contents-color);
}

#project-description, #project-link{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: var(--font-semi-small);
  color: var(--port-contents-color);
  line-height: 25px;
  word-break: keep-all;
}

#project-description::selection{
  background-color: black;
  color: white;
}

#project-link{
  color: var(--port-contents-color);
  text-decoration: none;
  font-weight: 500;
  opacity: 50%;
  padding-right: 15px !important;
  /* mix-blend-mode: difference; */
}

#project-link:hover{
  cursor: crosshair;
  transition: all 0.1s cubic-bezier(0,.77,1,.99);
  opacity: 100%;
}

/* CURSOR */

@-webkit-keyframes bigAndSmall{
  0%{
    transform: scale(1);
  }
  100%{
    filter: blur(100%);
    opacity: 0;
    transform: scale(10);
  }
}

#cursor-section{
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-width:1700px) {
  #port-project-wrapper{
    width: 20%;
  }
  #port-desc-wrapper{
    width: 80%;
  }
}